<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Kristen Payne: Software Engineer</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Kristen Payne</h1>
      <h2>Software Engineer</h2>
    </header>
    {% include 'nav.html' %}
    <main>
    {% block main %}
    {% endblock %}
    </main>
    <footer>
      This is where the footer content is.
    </footer>
  </body>
</html>
